# Dependencies
node_modules/
vendor/

# Environment
.env
.env.*

# Laravel
backend/storage/*
!backend/storage/app/public
!backend/storage/framework/.gitignore
!backend/storage/logs/.gitignore
backend/bootstrap/cache/*

# Logs
*.log

# Database
*.sqlite
*.sqlite3

# PHP local runtime (خیلی مهم)
php/

# OS files
.DS_Store
Thumbs.db

# Build
dist/
build/
out/

# IDE
.vscode/
.idea/