/* استایل فقط برای صفحه MedicationForm */
.medication-page .form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* فرم اصلی */
.medication-page .form-container {
    background: rgb(25, 23, 39);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    width: 400px;
    text-align: center;
}

/* عنوان فرم */
.medication-page h2 {
    color: #f4ecec;
    margin-bottom: 15px;
}

/* لیبل‌ها */
.medication-page label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    color: #e6e4ef;
    text-align: right;
}

/* فیلدهای ورودی و انتخابگر */
.medication-page input,
.medication-page select {
    width: 100%;
    padding: 12px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
    transition: border 0.3s ease-in-out;
}

/* فوکوس روی اینپوت‌ها */
.medication-page input:focus,
.medication-page select:focus {
    border-color: #007bff;
    outline: none;
}

/* دکمه‌ها */
.medication-page button {
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    background-color: #56569e;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease-in-out;
}

/* هاور روی دکمه‌ها */
.medication-page button:hover {
    background-color: #1e25a3;
}

/* پیام موفقیت */
.medication-page .success-message {
    text-align: center;
    color: #f4f6fb;
    margin-bottom: 10px;
}

/* پیام خطا */
.medication-page .error-message {
    text-align: center;
    color: red;
    margin-bottom: 10px;    
}
